
@font-face {font-family: "iconfont";
  src:  url('font/iconfont.eot?r2ninu');
  src:  url('font/iconfont.eot?r2ninu#iefix') format('embedded-opentype'),
    url('font/iconfont.ttf?r2ninu') format('truetype'),
    url('font/iconfont.woff?r2ninu') format('woff'),
    url('font/iconfont.svg?r2ninu#iconfont') format('svg');
}

.baseIcon {
  font-family:"iconfont" !important;
  font-size:16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.baseIcon-action_selectDown:before {
  content: "\e900";
}
.baseIcon-badge_default:before {
  content: "\e901";
}
.baseIcon-badge_radius:before {
  content: "\e902";
}
.baseIcon-badge_reverse:before {
  content: "\e903";
}
.baseIcon-badge_pill:before {
  content: "\e904";
}
.baseIcon-badge_flag:before {
  content: "\e905";
}
.baseIcon-style_size:before {
  content: "\e906";
}
.baseIcon-badge_round:before {
  content: "\e907";
}
.baseIcon-style_color:before {
  content: "\e908";
}
.baseIcon-action_recovery:before {
  content: "\e909";
}

.baseIcon-check:before { content: "\e645"; }

.baseIcon-close:before { content: "\e646"; }

.baseIcon-roundcheckfill:before { content: "\e656"; }

.baseIcon-roundcheck:before { content: "\e657"; }

.baseIcon-roundclosefill:before { content: "\e658"; }

.baseIcon-roundclose:before { content: "\e659"; }

.baseIcon-roundrightfill:before { content: "\e65a"; }

.baseIcon-roundright:before { content: "\e65b"; }

.baseIcon-search:before { content: "\e65c"; }

.baseIcon-timefill:before { content: "\e65e"; }

.baseIcon-time:before { content: "\e65f"; }

.baseIcon-unfold:before { content: "\e661"; }

.baseIcon-back:before { content: "\e679"; }

.baseIcon-more:before { content: "\e684"; }

.baseIcon-scan:before { content: "\e689"; }

.baseIcon-settings:before { content: "\e68a"; }

.baseIcon-questionfill:before { content: "\e690"; }

.baseIcon-question:before { content: "\e691"; }

.baseIcon-pulldown:before { content: "\e69f"; }

.baseIcon-pullup:before { content: "\e6a0"; }

.baseIcon-right:before { content: "\e6a3"; }

.baseIcon-refresh:before { content: "\e6a4"; }

.baseIcon-moreandroid:before { content: "\e6a5"; }

.baseIcon-deletefill:before { content: "\e6a6"; }

.baseIcon-cart:before { content: "\e6af"; }

.baseIcon-delete:before { content: "\e6b4"; }

.baseIcon-home:before { content: "\e6b8"; }

.baseIcon-cartfill:before { content: "\e6b9"; }

.baseIcon-homefill:before { content: "\e6bb"; }

.baseIcon-message:before { content: "\e6bc"; }

.baseIcon-squarecheckfill:before { content: "\e6d4"; }

.baseIcon-square:before { content: "\e6d5"; }

.baseIcon-squarecheck:before { content: "\e6d6"; }

.baseIcon-round:before { content: "\e6d7"; }

.baseIcon-roundaddfill:before { content: "\e6d8"; }

.baseIcon-roundadd:before { content: "\e6d9"; }

.baseIcon-add:before { content: "\e6da"; }

.baseIcon-fold:before { content: "\e6de"; }

.baseIcon-infofill:before { content: "\e6e4"; }

.baseIcon-info:before { content: "\e6e5"; }

.baseIcon-voice:before { content: "\e6ef"; }

.baseIcon-voicefill:before { content: "\e6f0"; }

.baseIcon-wifi:before { content: "\e6f2"; }

.baseIcon-share:before { content: "\e6f3"; }

.baseIcon-barcode:before { content: "\e6fb"; }

.baseIcon-sort:before { content: "\e700"; }

.baseIcon-pullleft:before { content: "\e71f"; }

.baseIcon-pullright:before { content: "\e720"; }

.baseIcon-peoplefill:before { content: "\e735"; }

.baseIcon-people:before { content: "\e736"; }

.baseIcon-attentionfill:before { content: "\e73c"; }

.baseIcon-attention:before { content: "\e73d"; }

.baseIcon-radiobox:before { content: "\e75b"; }

.baseIcon-radioboxfill:before { content: "\e763"; }

.baseIcon-messagefill:before { content: "\e779"; }

