.border{
	border:1px solid $border-color-default;
	overflow: hidden;
	&t,&v{border-top:1px solid $border-color-default; }
	&b,&v{border-bottom:1px solid $border-color-default; }
	&l,&h{border-left:1px solid $border-color-default; }
	&r,&h{border-right:1px solid $border-color-default; }
	&.item,&.itemv,&.itemh{
		border:none;
	}
	&.item{
		>*{
			border:1px solid $border-color-default;
		}
	}
	&.itemv{
		>*:not(:first-child){
			border-top:1px solid $border-color-default;
		}
	}
	&.itemh{
		>*:not(:first-child){
			border-left:1px solid $border-color-default;
		}
	}
	&.round{
		&,&.item >*{
			border-radius:375px;
		}
	}
	//light
	&.light{
		&, &t, &r, &b, &l, &.item >*, &.itemh >*, &.itemv >*{
			position:relative;
			border:none;
			&::before{
				position: absolute;
				width:200%;
				height:200%;
				border: 1px solid transparent;
				transform: scale(.5);
				transform-origin: 0 0;
				content:'';
			}
		}
		&, &.item >*{
			&::before{border-color:$border-color-default; }
		}
		&.itemh >*{
			&::before{border-left-color:$border-color-default; }
			&:first-child::before{content:none;}
		}
		&.itemv >*{
			&::before{border-top-color:$border-color-default; }
			&:first-child::before{content:none;}
		}
		&.item,&.itemh,&.itemv{&::before{content:none;}}
		&.round{
			&,&.item >*{
				&::before{border-radius: 750px; }
			}
		}
	}
	&t,&v{&.light{&::before{border-top-color:$border-color-default;}}}
	&b,&v{&.light{&::before{border-bottom-color:$border-color-default;}}}
	&r,&h{&.light{&::before{border-right-color:$border-color-default;}}}
	&l,&h{&.light{&::before{border-left-color:$border-color-default;}}}
}
.shadow{
	border-color: rgba(0, 0, 0, .09);
	box-shadow: 0 2px 8px rgba(0, 0, 0, .09);
}
