.border{
	border-width:1px;
	overflow: hidden;
	&t,&v{border-top-width:1px; }
	&b,&v{border-bottom-width:1px; }
	&l,&h{border-left-width:1px; }
	&r,&h{border-right-width:1px; }
	&.item,&.itemv,&.itemh{
		border:none;
	}
	&.item{
		>*{
			border-width:1px;
		}
	}
	&.itemv{
		>*:not(:first-child){
			border-top-width:1px;
		}
	}
	&.itemh{
		>*:not(:first-child){
			border-left-width:1px;
		}
	}
	&.round{
		&,&.item >*{
			border-radius:375px;
		}
	}
  //light
	&.light,&t.light, &r.light, &b.light, &l.light, &.item.light >*, &.itemh.light >*, &.itemv.light >*{
			position:relative;
			border:none;
			&::before{
				position: absolute;
				width:200%;
				height:200%;
				border: 1px solid transparent;
				transform: scale(.5);
				transform-origin: 0 0;
        content:'';
        top:0;
        left:0;
			}
  }
  &.light {
		&, &.item >*{
			&::before{border-color:$border-color-default; }
		}
		&.itemh >*{
			&::before{border-left-color:$border-color-default; }
			&:first-child::before{content:none;}
		}
		&.itemv >*{
			&::before{border-top-color:$border-color-default; }
			&:first-child::before{content:none;}
		}
		&.item,&.itemh,&.itemv{&::before{content:none;}}
		&.round{
			&,&.item >*{
				&::before{border-radius: 750px; }
			}
		}
	}
	&t,&v{&.light{&::before{border-top-color:$border-color-default;}}}
	&b,&v{&.light{&::before{border-bottom-color:$border-color-default;}}}
	&r,&h{&.light{&::before{border-right-color:$border-color-default;}}}
	&l,&h{&.light{&::before{border-left-color:$border-color-default;}}}
}
.shadow{
	border-color: rgba(0, 0, 0, .09);
	box-shadow: 0 2px 8px rgba(0, 0, 0, .09);
}
