.list{
	position: relative;
    list-style: none;
    overflow: hidden;
	margin-top:-1px;
	margin-bottom:1px;
	.list-item{
		transform-style: preserve-3d;
		position: relative;
		overflow: hidden;
		&:last-child:after{
			height:0
		}
	}
	&.border{
		border:none;
		&:not(.inner){
			&::before{
				content:"";
				width:200%;
				height:200%;
				border:1px solid darken($border-color-default,10%);
				position:absolute;
				transform-origin: 0 0;
				transform:scale(.5,.5);
			}
		}
		&.inner{
			&:not([class*=list-col]){
				.list-item{
					&::before{
						display: none;
					}
					&:last-child:after{
						display: none;
					}
				}
			}
			@for $i from 1 through 9{
				&.list-col#{$i}{
					.list-item:nth-child(#{$i}n){
						&::before{
							display: none;
						}
					}
				}
			}
		}
		.list-item{
			&:after{
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				height: 1px;
				content: '';
				transform: scaleY(.5);
				background-color: darken($border-color-default,10%);
			}
			&::before{
				position: absolute;
				right: 0;
				bottom: 0;
				top: 0;
				width: 1px;
				content: '';
				transform: scaleX(.5);
				background-color: darken($border-color-default,10%);
			}
		}
	}
	%listItemStyle{
		float:left;
		margin-bottom:-1px;
		margin-top:1px;
	}
	@for $i from 1 through 9{
		&.list-col#{$i} .list-item{
			@extend %listItemStyle;
			width:1/$i * 100%;
			&:nth-child(#{$i}n)::before{
				width:0;
			}
			&:nth-child(#{$i}n+1){
				clear:both;
			}
		}
	}
}
