@font-face {
  font-family: 'iconfont';  /* project id 1493959 */
  src: url('//at.alicdn.com/t/font_1493959_2mpuzll2bd9.eot');
  src: url('//at.alicdn.com/t/font_1493959_2mpuzll2bd9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1493959_2mpuzll2bd9.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1493959_2mpuzll2bd9.woff') format('woff'),
  url('//at.alicdn.com/t/font_1493959_2mpuzll2bd9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1493959_2mpuzll2bd9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e6a7";
}

.icon-favorites:before {
  content: "\e7ce";
}

