.DS_Store
node_modules/
dist/*
!dist/lib
!dist/image
demo/img
.cache/
npm-debug.log*
package-lock.json
CMUI
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
src/.DS_Store
demo/.DS_Store
src/.DS_Store

*.iml
src/.DS_Store
