<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>headComponent</title>
    <script src="../baseLib.js"></script>
</head>
<body>
<div id="main" style="height:4000px">
    <pc-head title="tabBar组件展示"></pc-head>
    <div class="padding50">
        <h1 class="text-center">配置选项</h1>
        <div class="flex-container paddingt20">
            <label for="">位置</label>
            <div class="btn-group">
                <a href="###" @click="tabPosition='top'" class="btn blue small reverse radius">上</a>
                <a href="###" @click="tabPosition='bottom'" class="btn blue small reverse radius">下</a>
                <a href="###" @click="tabPosition='left'" class="btn blue small reverse radius">左</a>
                <a href="###" @click="tabPosition='right'" class="btn blue small reverse radius">右</a>
            </div>
        </div>
        <div class="paddingt20 form green flex-container">
            <label for="">nav选项</label>
            <div>
                <label for="###" class="lh-28">pre</label>
                <input type="checkbox" class="checkbox-switch" v-model="tabNav[0]">
                <label for="###" class="lh-28">next</label>
                <input type="checkbox" class="checkbox-switch" v-model="tabNav[1]">
            </div>
        </div>
        <div class="paddingt20 form flex-container">
            <label for="###">展示类型</label>
            <select name="" id="" v-model="tabCol" class="flex1 marginl20">
                <option value="auto">auto</option>
                <option value="flex">flex</option>
                <option :value="i" :key="i" v-for="i in [3,4,5,6,7]">{{i}}</option>
            </select>
        </div>
        <a href="###" @click="add" class="btn green block margint20 radius">添加新标签</a>
    </div>
    <cmui-tabbar
            :col="tabCol"
            :position="tabPosition"
            ref="tab"
            :nav="tabNav"
            @extra-click="extra"
            @item-click="navItem"
            :watch="tabbarData"
            class="theme1"
    >
        <cmui-tabbar-item
                v-for="(item,index) in tabbarData"
                :key="index"
        >
            <div class="padding10 text-center paddingh20">
                <span>{{item.title}}</span>
            </div>
            <div slot="content" class="padding10">
                <span class="text-coffee">这里是标签{{item.title}}对应的内容区域</span>
            </div>
        </cmui-tabbar-item>
    </cmui-tabbar>
</div>
<script src="../../src/maple/index.js"></script>
<script src="./index.js"></script>
</body>
</html>