@import "./../cyan/extend";
// collapse
$name:cmui-collapse;//组件前缀
//平级样式接口
.#{$name}{}
.#{$name}-item{}
.#{$name}-item__header{}
.#{$name}-item__header__arrow{}
.#{$name}-item__bodyWarp{}
.#{$name}-item__body{}
//层级样式接口
.#{$name}{
  .#{$name}-item{
    .#{$name}-item__header{
      .#{$name}-item__header__arrow{}
    }
    .#{$name}-item__bodyWarp{
      .#{$name}-item__body{

      }
    }
  }
}
/******************* collapse doc*******************/
$name: cmui-collapse; //组件前缀
//以下是层级样式接口
.#{$name} {
    .#{$name}-item {
        &:first-child {
            .#{$name}-item__header {
                border-top-left-radius: $border-radius-base;
                border-top-right-radius: $border-radius-base;
            }
        }
        &:last-child {
            .#{$name}-item__header, .cmui-collapse-item__body {
                border-bottom-right-radius: $border-radius-base;
                border-bottom-left-radius: $border-radius-base;
            }
            .#{$name}-item__header.active {
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
        .#{$name}-item__header {
            padding:px(10) px(20);
            background-color: #f5f5f5;
            .#{$name}-item__header__arrow {

            }
        }
        .#{$name}-item__bodyWarp {
            .#{$name}-item__body {
                padding: px(10)
            }
        }
        .cmui-collapse-item__body, .cmui-collapse-item__header {
            border-color: #ccc;
        }
    }
}

/******************* collapse doc*******************/





// tabbar
$name:cmui-tabbar;//组件前缀
//平级样式接口
.#{$name}{
    [slot="content"]{}
}
.#{$name}__pre{}
.#{$name}__next{}
.#{$name}__nav{}
.#{$name}__head{}
.#{$name}__head-item{
    &.active{}
}
.#{$name}__content{}
.#{$name}__pane{}
.#{$name}__pane-item{}
//层级样式接口
.#{$name}{
    .#{$name}__head{
        .#{$name}__pre{}
        .#{$name}__next{}
        .#{$name}__nav{
            .#{$name}__head-item{
                &.active{}
            }
        }
    }
    .#{$name}__content{
        .#{$name}__pane{
            .#{$name}__pane-item{
                [slot="content"]{}
            }
        }
    }
}




// dialog通用样式接口
.cmui-dialog__container{
    background-color: #ffffff;
    border-radius: $border-radius-base;
    min-width: 80%;
    @extend %marginh20;
    .cmui-dialog__title{padding:10px;border-bottom: 1px solid rgb(233, 234, 236);}
    .cmui-dialog__body{padding:10px;border-bottom: 1px solid rgb(233, 234, 236);}
    .cmui-dialog__buttons{
        @extend %padding20,%flex-container,%right;
        .cmui-dialog__button{
            @extend %btn,%blue,%radius,%small;
        }
    }
}
// alert__
// 层级样式接口
.cmui-alert__container{
    .cmui-alert__title{}
    .cmui-alert__body{}
    .cmui-alert__buttons{
        .cmui-alert__button{}
    }
}
// 平级样式接口
.cmui-alert__container{}
.cmui-alert__title{}
.cmui-alert__body{}
.cmui-alert__buttons{}
.cmui-alert__button{}
// confirm
// 层叠样式接口

.cmui-confirm__container{
    .cmui-confirm__title{}
    .cmui-confirm__body{}
    .cmui-confirm__buttons{
        .cmui-confirm__button{
            &.cmui-confirm__button{
                &.ok{}
                &.cancel{}
            }
        }
    }
}
// 平行样式接口

.cmui-confirm__container{}
.cmui-confirm__title{}
.cmui-confirm__body{}
.cmui-confirm__buttons{}
.cmui-confirm__button{}
.cmui-confirm__button.ok{}
.cmui-confirm__button.cancel{}
// notice
// 平行样式接口

.cmui-noticeContainer{}
.cmui-noticeBody{}
// 层叠样式接口
.cmui-notice.cmui-popup{
    .cmui-popup__mask{
        background-color: transparent;
    }
    .cmui-notice__container{
        background-color: rgba(0,0,0,.6);
        min-width: 100px;
        color:white;
    }
    .cmui-notice__body{
        border-bottom:none;
    }
}
//actions
.cmui-actions__group{
    background-color: white;
    border-radius: $border-radius-base;
    .cmui-actions__button{
        padding:getLayoutSize(2);
        text-align: center;
        border-bottom:1px solid $border-color-default;
        &:last-child{
            border-bottom:none;
        };
    }
    .cmui-actions__cancel{
        background-color: white;
        border-radius: $border-radius-base;
        .cmui-actions__button{
            margin-top:getLayoutSize(2);
            color:map-get($colorList,'blue');
        }
    }
}

//picker
$pickerHeight:200px;
$pickerItemSize:20px;
.cmui-picker__wrapper{
    height:$pickerHeight;
}
.cmui-picker__linet,.cmui-picker__lineb{
    height:($pickerHeight - $pickerItemSize * 1.5 - 1)/2;
}
.cmui-picker__item{
    font-size:$pickerItemSize;
    line-height: 1.5;
    &.swiper-slide-active{
        color: #ff8d66;
    }
}
.cmui-picker__title{font-size: 20px;}
