@import "variables";
@import "lib/function";
%flex-container{
  @include display-flex();
  @include align-items();
  @include justify-content();
  &%round{@include justify-content(space-around); }
  &%center{@include justify-content(center); }
  &%left{@include justify-content(flex-start); }
  &%right{@include justify-content(flex-end); }
  &%top{@include align-items(flex-start) }
  &%line{@include align-items(baseline) }
  &%bottom{@include align-items(flex-end) }
  &%vfull{@include align-items(stretch) }
  &%hfull{&>*{@include flex(); } }
  &%reverse{@include flex-direction(row-reverse);}
}
%flex-container-col{
  @include display-flex();
  @include flex-direction();
  @include align-items();
  @include justify-content();
  &%center{@include justify-content(center); }
  &%left{@include align-items(flex-start); @include justify-content()}
  &%right{@include align-items(flex-end); @include justify-content()}
  &%top{@include justify-content(flex-start); }
  &%bottom{@include justify-content(flex-end); }
  &%round{@include justify-content(space-around); }
  &%vfull{&>*{@include flex(); } }
  &%hfull{@include align-items(stretch) }
  &%reverse{@include flex-direction(column-reverse);}
  &>span{
    display:block;
  }
}
// button
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @if($isPC){
    &:focus{
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($border, 25%);
    }
    &:hover {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($border, 12%);
    }
    &:active
    {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($border, 12%);

      &:hover,
      &:focus{
        color: $color;
        background-color: darken($background, 17%);
            border-color: darken($border, 25%);
      }
    }
    &:active
    {
      background-image: none;
    }
  }
}
@mixin button-size($height, $padding-horizontal, $font-size) {
  padding: ($height - 26px - 2) / 2 $padding-horizontal;
  font-size: $font-size;
}
%btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height:26px;
  @include button-variant(map-get($grayList,'dark'), #eceeef, map-get($grayList,'lighter'));
  @include button-size(nth(map-get($btn-size-list,'base'),1),nth(map-get($btn-size-list,'base'),2),nth(map-get($btn-size-list,'base'),3));
  @include user-select(none);
  &%radius{
    border-radius: $border-radius-base;
  }
  &%reverse{
    @include button-variant(map-get($grayList,'dark'), white, map-get($grayList,'lighter'));
  }
}
@each $btnSizeName,$btnSizeValue in $btn-size-list{
  @if $btnSizeName!='base'{
    %btn%#{$btnSizeName}{
      @include button-size(nth($btnSizeValue,1),nth($btnSizeValue,2),nth($btnSizeValue,3));
    }
  }
}
@each $colorName,$colorValue in $colorList{
  %btn%#{$colorName}{
    @include button-variant(white, $colorValue, $colorValue);
    &%btn-reverse,&%reverse{
      @include button-variant(map-get($colorList,#{$colorName}), white, $colorValue);
    }
  }
}
// badge
@mixin badgeSize($height,$paddingh,$fontSize){
  min-width: $height;
  padding: ($height - $fontSize) / 2 $paddingh;
  font-size: $fontSize;
  &%reverse{
    padding: (($height - $fontSize) / 2) - 1 ($paddingh - 1);
  }
  &%round,&%square{
    width: $height;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
}
%badge{
  display: inline-block;
  @include badgeSize(nth(map-get($badge-size-list,'base'),1),nth(map-get($badge-size-list,'base'),2),nth(map-get($badge-size-list,'base'),3));
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color:white;
  background-color: map-get($grayList,'lighter');
  position: relative;
  &:empty {
    display: none;
  }
  &%reverse{
    background-color: white;
    color:map-get($grayList,'dark');
    border:1px solid map-get($grayList,'lighter');
  }
  &%round{
    border-radius:50%;
    padding-left:0;
    padding-right:0;
    overflow: hidden;
  }
  &%round%reverse{
    padding-left:0;
    padding-right:0;
  }
  &%pill{
    border-radius:500px;
  }
  &%flag{
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 6px;
      bottom: -6px;
      height: 0;
      width: 0;
      border: 6px solid transparent;
      transform: rotate(135deg);
      margin-left: -3px;
    }
    &%reverse,&%round,&%radius{
      &:before{
        display: none;
      }
    }
  }
  @each $colorName,$colorValue in $colorList{
      &#{&-#{$colorName}},&%#{$colorName}{
        background-color:$colorValue;
      }
      &#{&}-flag#{&-#{$colorName}},&%flag%#{$colorName}{
        &:before{
          border-right-color: darken($colorValue,10%);
        }
      }
      &#{&}-reverse#{&-#{$colorName}},&%reverse%#{$colorName}{
        background-color:white;
        border:1px solid map-get($colorList,#{$colorName});
        color:map-get($colorList,#{$colorName});
      }
  }
}
@each $btnSizeName,$btnSizeValue in $badge-size-list{
  @if($btnSizeName!='base'){
    %badge%#{$btnSizeName}{
      @include badgeSize(nth($btnSizeValue,1),nth($btnSizeValue,2),nth($btnSizeValue,3));
    }
  }
}
