@import "variables";
@import "lib/function";
$isPC:true;
//@import "base/normalize";
//@import "base/baseIcon";
@import "base/layout";
th, td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
html,body{overflow-x: hidden}
.cmui-list-index span{margin:20px}
//@import "base/type";
//@import "base/button";
//@import "base/badge";
//@import "base/border";
//@import "base/form";
//@import "base/animate";
//@import "base/listGroup";
//@import "base/swiper";
//@import "ui/notice";
//@import "ui/mask";
//@import "ui/popup";
//@import "effect/transition";
