@import "variables";
@import "lib/function";
$isPC:true;
$container_padding:10px;//on pc
$container_width:800px;//on pc
//@import "base/normalize";
@import "base/baseIcon";
@import "base/layout";
blockquote,  dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, pre, td, textarea, th, ul{margin:initial;padding:initial;list-style:initial;}
ul{padding-left:1.2em}
th, td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
a:hover{text-underline: none}
html,body{overflow-x: hidden;font-size:16px !important;}
.cmui-list-index span{margin:20px}
.container{
  max-width:inherit;
}
@import "base/type";
@import "base/button";
@import "base/badge";
@import "base/border";
@import "base/form";
@import "base/pm";
@import "base/listGroup";
