$mainColor:#00BABA;
$gray:#f5f5f5;
$baseHeight:48px;
$baseRadius:12px;
$innerRadius:8px;
%baseBtn{
  line-height:48px;
  font-size:17px;
  text-align:center;
}
.cmui-popup{
  .cmui-popup__mask{}
  .cmui-popup__container{
    &.center{
      .cmui-popup__content{
        border-radius:$baseRadius
      }
    }
    &.bottom{
      .cmui-popup__content{
        border-radius:$baseRadius $baseRadius 0 0;
      }
    }
    &.top{
      .cmui-popup__content{
        border-radius:0 0 $baseRadius $baseRadius;
      }
    }
    &.left{
      .cmui-popup__content{
        border-radius:0 $baseRadius $baseRadius 0;
      }
    }
    &.right{
      .cmui-popup__content{
        border-radius:$baseRadius 0 0 $baseRadius;
      }
    }
  }
  .cmui-popup__content{
  }
  .cmui-popup__top{}
  .cmui-popup__main{}
  .cmui-popup__bottom{}
}
.cmui-actions{
  .cmui-actions__container{
    background-color: white;
    padding:16px;
  }
  .cmui-actions__title{
    text-align: center;
    font-size:17px;
    line-height:24px;
    font-weight:bolder;
    margin-bottom:16px;
  }
  .cmui-actions__group{
    .cmui-actions__button{
      @extend %baseBtn;
      background-color: rgba(0,0,0,0.04);
      &:first-child{
        border-radius: $innerRadius $innerRadius 0 0;
      }
      &:last-child{
        border-radius: 0 0 $innerRadius $innerRadius;
      }
      & + .cmui-actions__button{
        border-top:1px solid #ebebeb
      }
    }
  }
  .cmui-actions__cancel{
    .cmui-actions__button{
      margin-top:8px;
      @extend %baseBtn;
      color:white;
      background: #00BABA;
      border-radius: $innerRadius;
    }
  }
}
.cmui-dialog{
  .cmui-dialog__container{
    width:100%;
    margin:0 32px;
    background: white;
  }
  .cmui-dialog__content{
    padding:32px 16px;
  }
  .cmui-dialog__title{
    font-size:17px;
    text-align: center;
    font-weight: 400;
    margin-bottom:8px;
    line-height:24px;
  }
  .cmui-dialog__warp{
    .cmui-dialog__body{
      font-size:13px;
      text-align:center;
    }
  }
  .cmui-dialog__buttons{
    border-top:1px solid #ebebeb;
    .cmui-dialog__button{
      @extend %baseBtn;
      color:$mainColor;
      & + .cmui-dialog__button{
        border-left:1px solid #ebebeb;
      }
    }
  }
}
.cmui-alert{
  .cmui-alert__title{}
  .cmui-alert__warp{
    .cmui-alert__body{}
  }
  .cmui-alert__buttons{
    .cmui-alert__button{}
  }
}
.cmui-confirm{
  .cmui-confirm__title{}
  .cmui-confirm__warp{
    .cmui-confirm__body{}
  }
  .cmui-confirm__buttons{
    .cmui-confirm__button{
      &.cancel{
        color:black
      }
    }
  }
}
.cmui-notice{
  .cmui-notice__warp{
    .cmui-notice__body{}
  }
}
.cmui-list{
  .cmui-list-item-title{
    line-height:40px;
    background: $gray;
    padding-left:16px;
  }
  .indexWarp{
    margin-right:2px;
    span{
      font-size: 12px;
      margin:2px;
      &.active{
        width:20px;
        line-height:20px;
        background-color: $mainColor;
        text-align: center;
        border-radius:20px;
        color:white;
      }
    }
  }
}
.cmui-captcha{
  .cmui-captcha__warp{
    .cmui-captcha__item{
      &:not(:last-child){}
      &.active{
        .cmui-captcha__line{}
      }
      .cmui-captcha__dot{}
    }
  }
}
.cmui-countdown{
  .countdown-container{
    &.day{
      &::after{}
    }
    &.hour{
      &::after{}
    }
    &.minute{
      &::after{}
    }
    &.sec{
      &::after{}
    }
    &.millSec{
      &::after{}
    }
  }
}
.cmui-picker{
  .cmui-picker__cancel{
    .cmui-picker__btn{}
  }
  .cmui-picker__ok{
    .cmui-picker__btn{}
  }
  .cmui-picker_content{
    .cmui-picker__wrapper{
      .cmui-picker__scroll{
        .cmui-picker__item{}
      }
    }
    .cmui-picker__linet{}
    .cmui-picker__lineb{}
  }
}
.cmui-progress{
  .cmui-progress_warp{
    .cmui-progress_bar{
      .cmui-progress_bg{}
      .cmui-progress_info{}
    }
  }
}
.cmui-slidebar{
  .cmui-slidebar__warp{
    .cmui-slidebar__bar{
      .cmui-slidebar__progress{}
      .cmui-slidebar__dot{}
    }
  }
}
.cmui-slider{}
.cmui-tabbar{
  .cmui-tabbar__head{
    .cmui-tabbar__pre{}
    .cmui-tabbar__next{}
    .cmui-tabbar__nav{
      .cmui-tabbar__head-item{
        &.active{}
      }
    }
  }
  .cmui-tabbar__content{
    .cmui-tabbar__pane{
      .cmui-tabbar__pane-item{}
    }
  }
}
