$colorList:(
	'red': #ff4c48,
	'orange': #ff9800,
	'yellow': #ff6705,
	'green': #2eb252,
	'coffee': #853f3a,
	'blue': #25aaff,
	'purple': #7000C8
);
$grayList:(
	'black': #000,
	'darker': #222,
	'dark': #666,
	'gray':#8a8a8a,
	'light': #999,
	'lighter': #ccc,
	'white': #fff
);
$btn-size-list:(//$height, $padding-horizontal, $font-size
	'base':(36px,15px,16px),
	'small':(28px,15px,14px),
	'big':(44px,15px,16px)
);
//badge
$badge-size-list:(//$height, $padding-horizontal, $font-size
	'base':(20px,10px,12px),
	'small':(14px,2px,10px),
	'big':(25px,15px,13px)
);
@import "../../src/cyan/cmui.scss";
