@function rem($px) {
  @return $px/37.5+rem;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0.2rem;
  margin-top: .2rem;
}

pre {
  background-color: #222222;
  overflow: auto;
  word-wrap: normal;
  margin: 0;
  padding: rem(15);
  // margin-bottom: 1.275em;
  border-radius: 5px;
  color: white;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote {
  padding: rem(10);
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  color: #666666;
  background-color: #F8F8F8;
}

.card {
  .head {
    background-color: #f7f7f7;
    border-radius: 5px 5px 0 0;
    padding: rem(10);
  }
  .body {
    border: 1px solid #f7f7f7;
    border-top: none;
  }
}

// table
table {
  width: 100%;
  td, th {
    padding: 5px;
    border: 1px solid #dce6df;
  }
}